.login-page {
  max-width: 1200px;
  margin: 30px auto;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
  padding: 40px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 50%);
  border-radius: 5px;
}

.response {
  margin-top: 30px;
  font-weight: 500;
}